@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 10px;
    overflow-x: hidden;
}

:root {
	--green-1: #26643b;
	--green-2: #a2de96;
	--lightGreen-1: #d6e5d8;
	--lightGreen-2: #f5fcf4;
	--black-1: #3b413a;
	--black-2: #3f3c3c;
	--black-3: #5b6359;
	--white-1: #e8e8e8;
}
body{
    overflow-x: hidden;
    background-color: var(--lightGreen-2);
}
section{
    padding: 100px 0;
}
@media only screen and (max-width:780px){
    section{
        padding: 50px 0;
    }
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
    display: inline-block;
}
p{
    font-family: 'Raleway',sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
}
h1,h2,h3,h4{
    font-family: 'Poppins',sans-serif;
}

